@import "./reset.css";

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
}

div.border {
  margin: 5px 20px;
}

div.border span {
  display: inline-block;
  padding: 14px;
  font-size: large;
  letter-spacing: 16px;
  background-color: darkgreen;
  color: white;
  opacity: 0.7;
}

span.emphasis {
  font-weight: bold;
}

#header {
  background-color: azure;
  line-height: 1.5;
  color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .left {
  width: 15%;
}

#header .center {
  width: 55%;
}

#header .right {
  width: 30%;
}

#footer {
  padding: 3px;
}

#footer img {
  max-width: 100%;
  height: auto;
  width: auto;
}