/*ラッパー*/
div.table-wrapper {
    overflow: scroll;
    max-height:400px; /*任意*/
    max-width:1200px; /*任意*/
    // background-color: #fff;
    background-color: rgb(244, 235, 225);
  }
  
  /*行ヘッダーを固定する。topの値はjsで動的に指定*/
  table.sticky-table thead tr[class*="fixed-header-"] th {
      position: -webkit-sticky; /* for Safari */
      position: sticky;
      /* tbody tdより手前に表示する */
      z-index: 1;
  }
  
  /*行ヘッダーと列ヘッダーが重なる部分を固定する。top,leftの値はjsで動的に指定*/
  table.sticky-table thead tr[class*="fixed-header-"] th[class*="fixed-column-"] {
      /* 全てのセルより手前に表示する */
      z-index: 2;
  }
  
  /*列ヘッダーを固定する。leftの値はjsで動的に指定*/
  table.sticky-table tbody th[class*="fixed-column-"] {
      position: -webkit-sticky; /* for Safari */
      position: sticky;
      /* tbody tdより手前に表示する */
      z-index: 1;
  }
  
  table.sticky-table ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
  }

  table.sticky-table img {
      zoom: 0.75;
  }

  table.sticky-table ul {
      margin: 0px 0px;
  }

  table.sticky-table li {
      background-color: rgb(228, 212, 196);
      padding: 5px;
      margin: 10px 0px;
      cursor: pointer;
  }

  table.sticky-table li:first-child {
    margin: 0px 0px 10px 0px;
}

table.sticky-table li:last-child {
    margin: 10px 0px 0px 0px;
}

table.sticky-table li:only-child {
    margin: 0px;
}
